html, body{height: 100%;
    font-family: Arial, Helvetica, sans-serif;}

    header {
        background-color: olive;
        color: white;
        padding: 20px;
    }

    nav {
        padding: 5px;
        background-color: cadetblue;
        color: white;
    }

    section {
        background-color: lightblue;
        width: 65%;
        float: left;
    }

    aside {
        background-color: bisque;
        width: 35%;
        float: right;
        text-align: center;
    }

    article {
        background-color: white;
    }

    footer {
        background-color: lightblue;
        clear: both;
    }

    nav ul {
        list-style: none;
    }

    nav ul li {
        display: inline;
        padding: 3%;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
    }

    nav ul li a:hover{
        text-decoration: underline;
    }

    footer ul {
        list-style: none;
    }

    footer ul li{
        display: inline;
        padding: 20px;
    }